@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
*{
    box-sizing: border-box;
}
body{
    margin:0;
    padding:0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(30, 38%, 92%);
    font-family: 'Montserrat', sans-serif;
    color: hsl(228, 12%, 48%);
    height: 100vh;
}
.container{
    width: 1440px;
    display: flex;
    justify-content: center;
    font-size: 14px;
}
.card{
    width: 600px;
    height: 450px;
    display: flex; 
    background-color:#fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 5px 5px 10px hsla(212, 21.1%, 13.9%, 0.31);
    max-width: 95%;
}
.img{
    width: 50%;
    background-image: url(images/image-product-desktop.jpg);
    background-size: cover;
}
section{
    width: 50%;
    padding: 30px;
}
.perfume{
    letter-spacing: 3px;
}
h1{
    font-family: 'Fraunces', serif;
    font-size: 700;
    color: #000;
    font-size: 2rem;
    margin: 12px 0;
}
p{
    line-height: 1.5rem;
    margin: 0;
}
.valor{
    display: flex;
    align-items: center;
}
.precio{
    color: hsl(158, 36%, 37%); 
    font-family: 'Fraunces', serif;
    font-size: 700;
    margin-right: 15px;
    font-size: 2rem;
}
.linea{
    text-decoration: line-through;
}

button{
    border: none;
    border-radius: 10px;
    height: 45px;
    font-weight: bold;
    background-color:hsl(158, 36%, 37%); 
    color: hsl(0, 0%, 100%);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icono{
    width: 16px;
    margin-right: 10px;
}
button:hover{
    background-color :hsl(157, 20%, 22%);
    cursor: pointer;
}

@media screen and (max-width: 650px){
    .card{
        width: 360px;
        height: 680px;
        flex-wrap: wrap;
    }
    .img{
        background-image: url(images/image-product-mobile.jpg);
        background-size: cover;
        width: 100%;
        height: 37%;
    }
    section{
        width: 100%;
    }
    
}